<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.SysMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.bean.SysConfig">
        <id column="variable" property="variable" jdbcType="INTEGER"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="set_time" property="setTime" jdbcType="TIMESTAMP"/>
        <result column="set_by" property="setBy" jdbcType="VARCHAR"/>
        <association property="assist" javaType="com.example.demo.bean.Assist">
            <id column="assist_id" property="assistId" jdbcType="INTEGER"/>
            <result column="assist_name" property="assistName" jdbcType="VARCHAR"/>
        </association>
    </resultMap>



<select id="findRelevance" resultType="com.example.demo.bean.SysConfig" resultMap="BaseResultMap" >
            SELECT  * FROM sys_config AS s LEFT JOIN assist AS a ON s.set_by=a.assist_id
</select>

<!--<select id="findidfaqs" parameterType="java.lang.Integer" resultType="com.drzhang.bean.Faqs">-->
<!--     SELECT  * FROM  faqs WHERE  id=#{id}-->
<!--</select>-->

<!--    <select id="findfaqs" resultMap="BaseResultMap" parameterType="java.lang.Integer">-->
<!--             SELECT  * FROM  faqs AS f LEFT JOIN classes AS c ON f.classid=c.id limit #{pages},2;-->
<!--</select>-->
<!--    <delete id="delefaqs" parameterType="java.lang.Integer">-->
<!--               delete from faqs  where id = #{id,jdbcType=INTEGER}-->
<!--    </delete>-->
<!--    <insert id="addfaqs" parameterType="com.drzhang.bean.Faqs">-->
<!--    insert into faqs (id, title, createdate, -->
<!--      content, classid)-->
<!--    values (NULL , #{title,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP},-->
<!--      #{content,jdbcType=VARCHAR}, #{classid,jdbcType=INTEGER})-->
<!--  </insert>-->

<!--    <update id="updatefaqs" parameterType="com.drzhang.bean.Faqs">-->
<!--        UPDATE faqs  SET  `title`=#{title}, `createdate`=#{createdate}, `content`=#{content}, `classid`=#{classid} WHERE `id`=#{id};-->
<!--    </update>-->
</mapper>